#searchContainer {
  display: flex;
  justify-content: space-between;
}

#result,
#chapters {
  flex: 1;
  padding: 10px;
  border: 1px solid black;
  margin: 5px;
}

.loader {
  width: 100px;
  height: 100px;
}
